.music-page {
  margin-top: 60px;
  margin-bottom: 100px;
}
.music-page .music-title {
  font-size: 2em;
}
.music-page .music-section {
  font-size: 1.25em;
  margin-top: 15px;
}

.music-release {
}
.music-release__art {
  display: inline-block;
}
.music-release__details {
  display: inline-block;
  vertical-align: top;
}
.music-release__details .details-title {
  padding: 15px 0 15px 15px;;
  font-size: 2.5em;
  display: inline-block;
}
.music-release__details .details-sub-title {
  display: inline-block;
  padding: 15px;
  font-size: 1.25em;
  color: #333;
}
.music-release__details .details-tracks {
  font-size: 1.5em;
  padding: 0 15px;
}
.music-release__details .details-tracks .track {
  margin-bottom: 10px;
}
.music-release__details .details-tracks .track .artist {
}
.music-release__details .details-tracks .track .song {
  margin-left: 8px;
}

.music-page .song {
  margin-top: 50px;
}
.song__details-title {
  font-size: 2.5em;
  padding: 0 0 15px 0;
}
