.home-page {
  margin-top: 40px;
}

.pitch {
  background: #2F2E2E;
  color: white;
  padding: 75px 50px;
}
.pitch h1 {
  margin-bottom: 25px;
  line-height: 1.25;
}
.pitch h3 {
  margin-bottom: 25px;
  line-height: 1.5;
}
.pitch .btn {
  margin-bottom: 25px;
}

.about-modus {
  background: white;
  color: #2F2E2E;
  padding: 50px;
}

.features {
  padding: 50px 50px 100px 50px;
  background: #c9ddef;
}
.features .col-xs-12 {
  margin-bottom: 25px;
}
.features h2 {
  margin-bottom: 40px;
}
.features h3 {
  margin-bottom: 25px;
}
.features i {
  margin-right: 15px;
}
.features ul {
  list-style-type: none;
  font-size: 1.25em;
}
.features ul li {
  margin-bottom: 10px;
}

p {
  font-size: 1.5em;
}
