.modules {
  margin-top: 25px;
  background: #2F2E2E;
  color: white;
}
.modules ul {
  list-style-type: none;
}
.modules ul li {
  font-size: 18px;
  margin-bottom: 10px;
}
.modules p {
  line-height: 2;
}
.modules h1 {
  text-align: center;
  margin-bottom: 25px;
}


.modules .intro {
  padding: 50px 0;
  text-align: center;
}
.modules .intro .btn {
  margin-right: 10px;
}
.modules .intro h1 {
  font-size: 4em;
}

.modules .demand {
  padding: 25px 0 50px 0;
  background: #dfc67b;
  color: black;
}

.modules .trade {
  padding: 25px 0 50px 0;
  background: #c9ddef;
  color: black;
}

.modules .inventory {
  padding: 25px 0 50px 0;
  background: #c9ddef;
  color: black;
  background: white;
  color: black;
}
.modules .call-to-action-button {
  margin-top: 25px;
  font-size: 18px;
  padding: 18px;
}

.modules .outro {
  padding: 50px 0;
  text-align: center;
}
.modules .outro .btn {
  margin-right: 10px;
}
