.modules {
  margin-top: 25px;
  background: #2F2E2E;
  color: white;
}
.modules ul {
  list-style-type: none;
}
.modules ul li {
  font-size: 18px;
  margin-bottom: 10px;
}
.modules p {
  line-height: 2;
}
.modules h1 {
  text-align: center;
  margin-bottom: 25px;
}


.modules .intro {
  padding: 50px 0;
  text-align: center;
}
.modules .intro .btn {
  margin-right: 10px;
}
.modules .intro h1 {
  font-size: 4em;
}

.modules .screenshot-placeholder {
  background: #ccc;
  width: 100%;
  height: 350px;
  max-width: 550px;
  margin: 15px auto;
}

.modules .demand {
  padding: 25px 0 50px 0;
  background: #e1ab04;
  /*background: #fcdb74;*/
  /*background: rgba(225, 171, 4, .8);*/
  color: black;
}
.modules .demand .demand-screenshot {
  background-image: url(../../content/assets/demand-planning-screenshot.png);
  background-size: cover;
  background-position: center left;
  height: 400px;
  border-radius: 5px;
}

.modules .trade {
  padding: 25px 0 50px 0;
  /*background: #ff7979;*/
  /*background: #f2a59d;*/
  /*background: #c9ddef;*/
  background: #2ecc71;
  color: black;
}
.modules .trade .trade-screenshot {
  background-image: url(../../content/assets/trade-performance-screenshot.png);
  background-size: cover;
  background-position: top left;
  height: 400px;
  border-radius: 5px;
}

.modules .inventory {
  padding: 25px 0 50px 0;
  /*background: #c9ddef;*/
  /*background: #3e9ddd;*/
  /*background: #9eceee;*/
  background: #3e9ddd;
  color: black;
}
.modules .inventory .inventory-screenshot {
  background-image: url(../../content/assets/customer-order-mgmt-screenshot.png);
  background-size: cover;
  background-position: center left;
  height: 400px;
  border-radius: 5px;
}

.modules .call-to-action-button {
  margin-top: 25px;
  font-size: 18px;
  padding: 18px;
}

.modules .outro {
  padding: 50px 0;
  text-align: center;
}
.modules .outro h3 {
  line-height: 2;
}
.modules .outro .btn {
  margin-right: 10px;
}

.modules img {
  width: 100%;
}
