.header {
  background: #2F2E2E;
  color: white;
  font-size: 16px;
}

/* Override Bootstrap */
.navbar-fixed-top {
  border-width: 0;
}
.header .navbar-brand {
  color: white;
  font-size: 20px;
}
.header .navbar-brand:hover {
  color: #E1AB05;
}

.header .navbar-nav>li>a {
  color: white;
}
.header .navbar-nav>li>a:active,
.header .navbar-nav>li>a:focus,
.header .navbar-nav>li>a:hover {
  color: #E1AB05;
}

.header .header-demo-button {
  margin: 10px 0;
}
